{% extends 'layout.html' %}

{% block body %}
  <!doctype html>
  <html>
  <head>
  <style>



  </style>
  </head>
  <body>
    <div class = "jumbotron text-center">
      <image src = '/static/FRH1.png' alt="FraggleRockHit"  height="240" width="720">
      <p class="lead">Registration Completed
    </div>
    <h2>Thank you for registering!</h2>
    <p> You will recieve an email as soon as possible with user credentials. Please exercise patience as this is a one woman opperation (at the moment).
    <br><br>
    <h2>Learn more about our development: <li><a href="/about">About</a></li></h2>
    <h2>Check out the FraggleRockHits demo here: <li><a href="/about">About</a></li></h2>
    <br><br>



{% endblock %}
